i.fa{
    vertical-align: middle;
    padding-right:0.7em;
}

a {
    color:#888888;
}

rect.plot.background{
  fill:#f8f8f8
}

#lightcurve .placeholder{
  display:block;
  width: 630px;
  height: 380px;
  margin:15 0 40 40;
}

#status_display.offline:after{
  font-family: FontAwesome;
  vertical-align: middle;
  content: "\f188";
  padding-left: 1em;
  font-size: 12pt;
  color: red;
}

#status_display i.fa-spin {
    font-size: 12pt;
    transform-origin: 35% 49%;
}

#status_display.online:after{
  font-family: FontAwesome;
  vertical-align: middle;
  content: "\f00c";
  padding-left: 1em;
  font-size: 12pt;
  color: green;
}

#intro {
    background-color: white;
    padding-top: 8em;
}

.spotlight {
    background-color: white;
    margin-bottom: 2em;
    margin-left: -2em;
    margin-right: -2em;
}

.spotlight   h3 {
    margin-top: 0.2em;
}
.spotlight   p {
    margin-right: 2em;
}
.spotlight .row img {
    display: block;
    padding: 1em;
    /*width: 300px;*/
}

/*datarate plot*/
#datarate_chart .plot_dots {
	fill: #666;
}

.figure path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

/*all plots*/
.axis line,
.axis path {
    shape-rendering: crispEdges;
    stroke: lightgray;
    fill: none;
}

.axis_label {
    fill: #666;
    font-size:9pt;
}

.axis text{
    font-size: 8pt;
}

.axis text{
    font-size: 8pt;
}


#fact_map {
	margin-left:4em;
}

body {
    background-color: #eee;
}

section {
    margin-bottom: 2em;
}


.banner {
	background-color: #224;
	color: #eee;
	padding-top: 7em;
	margin-bottom: 0;
	padding-bottom: 8em;
    background-image: url("./images/banner.jpg");
}

.banner p {
    margin-right: 3em;
    padding-left: 3em;
}

.banner h1 {
	text-align:center;
}



.wide100 {
    max-width: 100%;
}
.wide90 {
    max-width: 90%;
}
.wide80 {
    max-width: 80%;
}

#footer {
	color:#bbbbbb;
  size: 6pt;
	background-color:#444;
	margin-left:2em;
	padding:0;
}

#footer span{
    padding-left:4em;
}
