<!DOCTYPE HTML>

<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Live results of the FACT Cherenkov Telescope">
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->

    <!--<script src="assets/js/bundle.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>-->
    <!--<script src="http://cdn.intercoolerjs.org/intercooler-0.9.6.min.js"></script>-->
    <!--<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>-->


    <!-- <script src="static/js/datarate.js"></script> -->
    <!-- <script src="static/js/main.js"></script> -->
    <!-- <script src="static/js/lineplot.js"></script> -->
    <!-- <script src="static/js/websocket.js"></script> -->
    <script src="static/build/bundle.js"></script>
    <link rel="stylesheet" href="static/css/normalize.css" />
    <link rel="stylesheet" href="static/css/skeleton.css" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Banner -->
<section class="banner wide100">
            <h1>The FACT Real Time Analysis</h1>
</section>

<!-- One -->
<section id="intro">
    <div class="container">
        <div class="row">
            <section id="eventinfo" class="one-half column">
                <h2>Latest Event Data</h2>
                <h5 id="status_display"></h5>
                <p>
                    Here you see the latest gamma-like event found by our analysis chain.
                    It's selected by a multivariate model which has been trained offline on simulated, labeled, data.
                    Additionally, a cut in its reconstructed position has been performed.
                </p>
                <table>
                    <thead>
                    <tr>
                        <th>Event</th>
                        <th>Properties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Source</td>
                        <td id="source_name">...</td>
                    </tr>
                    <tr>
                        <td>Timestamp</td>
                        <td id="event_timestamp">...</td>
                    </tr>
                    <tr>
                        <td>Estimated Energy</td>
                        <td id="energy">...</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td id="size">...</td>
                    </tr>
                    <tr>
                        <td>Theta<sup>2</sup></td>
                        <td id="theta_square">...</td>
                    </tr>
                    </tbody>
                </table>

            </section>
            <section id="camera" class="one-half column">
                <div id="fact_map">

                </div>
            </section>
        </div>
    </div>
</section>

<!-- Two -->
<section class="content">
    <div class="container">

        <div class="row spotlight">
            <div id="lightcurve" class=" figure two-thirds column">
                <!--plot goes here-->
            </div>
            <div class="one-third column">
                <h3>Excess Rates</h3>
                <p>
                    The plot shows excess rates of recently analyzed sources.
                    Excess is defined as the difference between background and signal events.
                    FACT uses five off-positions in the field of view to estimate the rate of
                    background events.
                </p>
            </div>
        </div>

        <div class="row spotlight">
            <div id="datarate_chart" class="two-thirds column" >
                <!-- Lecker data rate plot here -->
            </div>
            <div class="one-third column">
                <h3>Data rates</h3>
                <p>
                    The current datarate of the RTA process is <span id="datarate"> ... </span> events per second.
                    This  is not the FACT trigger rate but merely the number of events
                    per second the RTA is analyzing after the DAQ finished writing all data to the disk.
                </p>
            </div>
        </div>

        <div class="row spotlight">
            <div id="memory_chart" class="figure one-third column">
            </div>
            <div id="load_chart" class="figure one-third column">
            </div>
            <div class="one-third column">
                <h3>Machine status</h3>
                <p>Basic information about the machine running the RTA. It's running at the experiment site.  </p>
                <ul>
                    <li>Free disk space: <span id="space">...</span>&thinsp;GB</li>
                    <li>Currently reserved RAM:  <span id="memory">...</span>&thinsp;MB</li>
                    <li>Reserved CPU cores: <span id="cpus">...</span></li>
                </ul>
            </div>
        </div>

        <div class="row spotlight">
            <div class="figure two-thirds column">
                <img width="400" id="allskycam" src="/static/images/hex-loader2.gif" alt="Image of the sky above the telescope" />
            </div>
            <div class="one-third column">
                <h3>Sky Image</h3>
                <p>Image of the sky over La Palma. This is fetched from the All-Sky-Camera near the GTC Telescope.</p>
                <a href="http://www.gtc.iac.es/multimedia/webcams.php" class="button alt">More Information</a>
            </div>
        </div>

    </div>
</section>

<section id="contact" class="wide100">
    <div class="container">
        <div class="row">
            <h2>Contact Information</h2>
        </div>
        <div class="row">
        <section class="one-half column">

            <p>Find some useful links and contact information below. Feel free to contact us if you have any questions or comments.</p>

            <ul class="fa-ul">
                <li><i class="fa-li fa fa-home"></i><a href="http://fact-project.org">http://fact-project.org</a></li>
                <li><i class="fa-li fa fa-envelope"></i><a href="mailto:kai.bruegge@tu-dortmund.de">kai.bruegge(at)tu-dortmund.de</a></li>
                <li><i class="fa-li fa fa-university"></i>TU Dortmund, Otto-Hahn-Straße 4a, Dortmund, Germany</li>
            </ul>

        </section>
        <section class="one-half column">
            <p>
                This work has been funded with support by the DFG, Collaborative Research Center SFB 876,
                project C3 <br>
                <i class="fa fa-book"></i><a href="http://sfb876.tu-dortmund.de">http://sfb876.tu-dortmund.de/</a>
                <i class="fa fa-git"></i><a href="https://github.com/fact-project">github.com/fact-project</a>
            </p>
            <p>
                Collaborate with us on GitHub! <br>
            </p>

        </section>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="copyright">
        <span>The FACT Real Time Analysis 2017</span> <span><i class="fa fa-git"></i><a href="https://github.com/fact-project/rta_frontend">rta_frontend</a><i class="fa fa-git"></i><a href="https://github.com/fact-project/fact-tools">fact-tools</a></span>
    </div>
</footer>


</body>
</html>
